* {
  padding: 0%;
  margin: 0%;
}

/* ////////////////////////////////////////////// */
/* Header and its content styling */
header {
  background-image: linear-gradient( #66635B, #CBD4C2 85%);
  position: sticky;
  top: 0;
  padding: 0%;
  margin: 0%;
  display: grid;
  grid-template-columns:25% 50% 25%;
}

/* The header is wrapped in the #sticky div
  This is to allow the option to later include nav/hamburger as sticky
*/
#sticky {
  position: sticky;
  top: 0;
}

.header-bar-item {
  text-align: center;
  padding: 0%;
  margin: 0%;
}

#logo {
  max-height: 30px;
  max-width: 30px;
  margin: 0%;
  padding: 1%;
}

/* The h1 in the header */
#page-title {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1px;
  margin: 0px;
  color: #fff;
  text-shadow: 0px 4px 16px #000000;
  text-align: center;
  text-wrap: nowrap;
}

/* user login button in header, also inherits styling from submit-btn class */
#user-login-btn {
  padding: 1%;
  margin: 1% 30%;
  background-color:#CBD4C2;
  color: #000000;
}

/* ////////////////////////////////////////////// */
/* Styling for the Nav */
#hamburger-nav-container {
  padding: 0%;
  margin: 0%;
  top: 0%;
}

 nav {
  padding: 0%;
  margin: 0%;
}

nav > .fa-bars {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  margin: 1%;
  border: 1px solid black;
  border-radius: 20%;
  background-color: rgba(203, 212, 194, 0.3);
}

nav > ul {
  list-style-type: none;

}

.nav-links > li:hover {
  transform: scale(1.1);
}

li > a {
  color: black;
}

/* ////////////////////////////////////////////// */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px;
  padding: 10px;
  border: none;
  color: #fff;
  background-color: #66635B;
}

footer > a {
  color: #fff;
}

/* ////////////////////////////////////////////// */
/* Main page content */
main {
  background-color: #FFFCFF ;
  margin: 0px;
  padding: 0px;
  border: none;
}

h2 {
  font-size: 20px;
  font-family: "Barlow", sans-serif;
  text-shadow: 0px 2px 4px #66635B;
  text-decoration-line: underline;
}

img {
  padding: 20px 0px;
}

p {
  font-family: "Noto Sans", sans-serif;
}

a:hover {
  color: blue;
}

.demo-image {
  max-width: 50%;
  height: auto;
}

section {
  padding: 30px;
}

/* The headings above the create/select user sections */
.user-heading{
  padding: 5%;
}

#user-login-section {
  display: flex ;
  justify-content: space-around;
  padding-top: 5%;
}

#content {
  padding: 0% 10%;
}

/* Used for the Article sections throughout the app */
.app-content {
  padding-top: 5%;
}

#quote {
  text-align: center;
  margin: 10px
}
blockquote {
  padding: 10px;
  font-size: 18px;
}

  /* ////////////////////////////////////////////// */
/* Styling for the 'Songs' page */

/* Styling for the songs list */
#songs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-bottom: 2px solid black;
}

.song-container, #quote {
  display: grid;
  background-color: #CBD4C2;
  padding: 1%;
  box-shadow: 0px 7px 14px #66635B;

}

.song-title-area, .song-description-area, .edit-delete-buttons {
  border: 1px solid black;
  background-color: #fff;
  border-radius: 3%;
  margin-top: 4px;
  box-shadow: 0px 7px 14px #66635B;
}

.song-title-area {
  text-align: center;
}

.song-input{
  width: 100%;
}

.edit-delete-buttons {
  text-align: center;
}

.edit-btn, .save-btn {
  background-color:green;
  color: white;
}

.see-version {
  background-color: blue;
  color: white;
}

.delete-btn {
  background-color: red;
  color: #fff;
}

/* The 'Add' button */

button {
  max-height: 800%;
  padding: 0%;
  margin: 10% 5%;
}

button:hover {
  transform: scale(1.2);
}

.add {
  text-align: center;
  padding: 20px;
}

.add-btn {
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding: 0%;
  margin: 0%;
}

.add-button {
  border: none;
  border-radius: 0%;
  padding: 0%;
  margin: 0%;
  background-color: #FFFCFF ;
  color: #000000;
}

.add-button:hover {
  transform: scale(1.2);
}

.fa-plus {
  border: 2px solid black;
  border-radius: 50%;
}

.add-new {
  font-size: 20px;
  margin: 0%;
  padding: 0%;
}

  /* END SONGS PAGE STYLING */
/* ////////////////////////////////////////////// */

/* Content just above the footer */
.bottom-app-content {
  padding-bottom: 5%;
}

.contact-text-heading {
  text-align: center;
  padding: 5%;
}

/* ////////////////////////////////////////////// */
/* Forms related styling */

/* form-input class includes inputs from multiple pages */
.form-input, #how-they-heard {
  border: 2px solid #66635B;
  font-size: larger;
  border-radius: 5%;
  margin: 5px;
}

.submit-btn {
  background-color: #66635B;
  color: white;
  border: 2px solid black;
  padding: 3%;
  margin: 5%;
  border-radius: 10%;
}

#contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#form-elements-container-2, #how-they-heard, #msg {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ////////////////////////////////////////////// */
/* Mobile Styling */
@media (max-width: 549px) {
  main {
    flex-direction: column;
    width: auto;
  }

  #user-login-section {
    flex-direction: column;
  }

  #page-title {
    font-size: 1.3rem;
  }

  .submit-btn {
    font-size: medium;
  }

  label {
    font-size: 20px;
  }

  h2 {
    font-size: 22px;
  }

  .demo-image {
    max-width: 100%;
  }

  /* ////////////////////////////////////////////// */
  /* Mobile nav styles */
  .hidden--mobile {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-links > li {
    margin: 0%;
    padding: 8% 0%;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
  }

}
/* END mobile styling */
/* ////////////////////////////////////////////// */

/* ////////////////////////////////////////////// */
/* Nav bar styling when not on mobile screens */
@media (min-width: 550px) {
  nav > .fa-bars {
  display: none;
  visibility: hidden;
  }

  nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #66635B;
  }

  .nav-links > li {
    margin: 2px 0px;
    border: 1px solid black;
    padding: 4px 2px;
    font-size: 12px;
    background-color: #CBD4C2;
    width: 25%;
  }
}
