* {
  /* border: 2px solid red; */
  padding: 0%;
  margin: 0%;
}

header {
  background-image: linear-gradient( #66635B, #CBD4C2 85%);
  position: sticky;
  top: 0;
}

header, footer {
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  padding: 10px;
  border: none;
}

.header-bar-item {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  background-color: #FFFCFF ;

  margin: 0px;
  padding: 0px;
  border: none;
}

footer {
  display: flex;
  justify-content: space-around;
  color: #fff;
  background-color: #66635B;
}

#page-title {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-size: 50px;
  padding: 0px;
  margin: 0px;
  color: #fff;
  text-shadow: 0px 4px 16px #000000;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-family: "Barlow", sans-serif;
  text-shadow: 0px 2px 4px #66635B;
  text-decoration-line: underline;

}

img {
  padding: 20px 0px;
}

section {
  padding: 30px;
}

#user-login-section {
  display: flex ;
  justify-content: space-around;
  padding-top: 5%;
}

.form-input, #how-they-heard {
  border: 2px solid #66635B;
  font-size: larger;
  border-radius: 5%;
  margin: 5px;
}

label {
  font-size: x-large;
}

.user-heading{
  padding: 5%;
}

#content {
  padding: 0% 10%;
}

.app-content {
  padding-top: 5%;
}

.bottom-app-content {
  padding-bottom: 5%;
}

p {
  font-family: "Noto Sans", sans-serif;
}

a {
  color: #fff;
}

a:hover {
  color: blue;
}

.submit-btn {
  background-color: #66635B;
  color: white;
  font-size: x-large;
  border: 4px solid black;
  padding: 3%;
  margin: 5%;
  border-radius: 10%;
}

#root {
  padding: 0px;
  border: none;
  margin: 0px;
}

#logo {
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 100px;
}

.demo-image {
  max-width: 50%;
  height: auto;
}

 #hamburger-nav-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.fa-bars {
  color: #fff;
  font-size: 50px;
  margin: 20px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: end;
  display: none;
  visibility: hidden;
}

#contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#form-elements-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#how-they-heard, #msg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email-info {
  color:darkslategrey;
}

#email-info:hover {
  color: blue;
}

.contact-text-heading {
  text-align: center;
  padding: 5%;
}

@media (max-width: 500px) {
  main {
    flex-direction: column;
    width: auto;
  }

  header {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  #page-title{
    flex-grow: 3;
  }

  header, footer {
    flex-direction: row;
  }

  #user-login-section {
    flex-direction: column;
  }

  #page-title {
    font-size: 30px;
  }

  .submit-btn {
    font-size: medium;
  }

  label {
    font-size: 20px;
  }

  h2 {
    font-size: 22px;
  }

  .demo-image {
    max-width: 100%;
  }

  #logo {
    max-height: 50%;
    max-width: 50%;
  }

/*
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  } */

}
